
span{
    background: linear-gradient(90deg, #F87516 0%, #5E11FF 100%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;

}
p{
    color: #EEE5FFBD;
    font-family: "Outfit", Sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.6em;
}